<form>
  <label>Title </label>
  <input
    type="text"
    name="title"
    minlength='2'
    maxlength='50'
    placeholder="Untited"
    >
  <br><br>
  <div id="editor"></div>
  <br>
  <input type="date" name="date" hidden>
  <button type='submit'>Save</button>
</form>
