<form id='note-form'>
  <label>Title </label>
  <input
    type="text"
    name="title"
    id='title'
    minlength='2'
    maxlength='50'
    >
  <br><br>
  <div id="editor"></div>
  <br>
  <button type='submit'>Save</button>
</form>
