<form id='note-form'>
      <label>Title </label>
      <input
        type="text"
        name="title"
        id='title'
        minlength='2'
        maxlength='50'
        >
      <button type='submit'>Save</button>

    <div id="editor-container">
      <div id="quill-editor"></div>
    </div>
    <br>
  </form>
