<form action="/create" method="post">
  <label>Title</label>
  <input type="text" name="title">
  <br>
  <textarea name="note" rows="10" cols="30">
  </textarea>
  <br>
  <button type="submit">Save</button>
</form>
