/* Page layout */

* {
   box-sizing: border-box;
 }

 html {
   height: 100%;
 }
 body {
   margin: 0;
   height: 100%;
 }

button:disabled {
 color: grey;
}


.top-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

 .flex-row {
   display: flex;
   flex-direction: row;
   width: 100%;
 }

.flex-column {
  display: flex;
  flex-direction: column;
}

.center {
  align-items: center;
}

/* Notes list */
 #notes-list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  align-items: stretch;
  color: #000;
  overflow-y: scroll;

  max-height: 80vh;
  width: 90%;
 }

 .notes-list-item {
   display: flex;
   justify-content: space-between;
   width: auto;
   padding: 1rem;
   border: 0.2px solid #d3d3d3;
 }

  .notes-list-item:hover {
   background-color: #d3d3d3;
   cursor: pointer;
 }

 .delete-button:hover {
   background-color: red;
 }s

#load-more-button {
  margin: 0.5rem;
  width: 5rem;
  align-self: flex-ends;
}

/* Editor & buttons */

#note-form {
  width: 100%;
  padding: 0.5rem;
  height: 80vh;
  /* border: 1px solid blue; */
}

#editor-container {
    display:block;
    height: 70vh;
    /* padding: 1rem; */
  }

#quill-editor {
  /* border: 0.2px solid #D3D3D3; */
  font-size: 0.8rem;
  padding: 0.5rem;
}
