/* Page elements */

* {
   box-sizing: border-box;
 }

 html {
   height: 100%;
 }
 body {
   margin: 0;
   height: 100%;
 }

/* Top and bottom navbars */

#top-navbar {
  display: flex;
  justify-content: center;
  color: white;
}

#footer {
  display: flex;
  justify-content: center;
  padding: 1rem;
  color: white;
}

/* Notes list */
 #notes-list-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  align-items: stretch;
  color: #000;
  overflow-y: scroll;

  max-height: 80vh;
  width: 90%;
 }

 .notes-list-item {
   display: flex;
   justify-content: space-between;
   width: auto;
   padding: 1rem;
   border: 0.2px solid #d3d3d3;
   background-color: white;
 }

  .notes-list-item:hover {
   background-color: #d3d3d3;
   cursor: pointer;
 }

 .delete-button:hover {
   background-color: red;
 }

.note-item-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Editor, toolbar, & form controls */
#note-form {
  width: 100%;
  padding: 0.5rem;
}

#editor-container {
  display:block;
  height: 60vh;
  max-height: 60vh;
  }

#quill-editor {
  font-size: 0.8rem;
  padding: 0.5rem;
  background-color: white;
}

.ql-toolbar {
  background-color: #d3d3d3;
}
