<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Notes app</title>
  <link href="/vendor-assets/quill/quill.snow.css" rel="stylesheet" />
  <script type="module" src="/vendor-assets/quill/quill.min.js"></script>
  <link rel="stylesheet" href="index.css">
</head>
<body>
  <%- include('partials/top-navbar') %>
  <div class="flex-row">
    <%- include('partials/notelist') %>
    <%- include('partials/editor') %>
  </div>
</body>
<script defer type="text/javascript" src='scripts/globals.js'></script>
<script defer type="text/javascript" src='scripts/getNotesList.js'></script>
<script defer type="text/javascript" src='scripts/editorFormHandler.js'></script>
</html>
