<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Notes app</title>
  <!-- Quill.js -->
  <link href="/vendor-assets/quill/quill.snow.css" rel="stylesheet" />
  <script type="module" src="/vendor-assets/quill/quill.min.js"></script>
  <!-- Bootstrap CSS -->
  <link rel='stylesheet' href='/vendor-assets/bootstrap/css/bootstrap.min.css'>
  <!-- Custom css -->
  <link rel="stylesheet" href="index.css">
</head>
<body>
  <%- include('partials/top-navbar') %>
  <div class="flex-row">
    <%- include('partials/notelist') %>
    <%- include('partials/editor') %>
  </div>
</body>
<script defer type="text/javascript" src='scripts/globals.js'></script>
<script defer type="text/javascript" src='scripts/getNotesList.js'></script>
<script defer type="text/javascript" src='scripts/editorFormHandler.js'></script>
<!-- Bootstrap dependencies -->
<script defer type='text/javascript' src='/vendor-assets/bootstrap/js/bootstrap.bundle.min.js'></script>
</html>
