<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Notes app</title>
  <!-- Quill.js -->
  <link href="/vendor-assets/quill/quill.snow.css" rel="stylesheet" />
  <script type="module" src="/vendor-assets/quill/quill.min.js"></script>
  <!-- Bootstrap CSS -->
  <link rel='stylesheet' href='/vendor-assets/bootstrap/css/bootstrap.min.css'>
  <!-- Custom css -->
  <link rel="stylesheet" href="index.css">
  <!-- External libraries -->
  <!-- Bootstrap dependencies -->
  <script type='text/javascript' src='/vendor-assets/bootstrap/js/bootstrap.bundle.min.js'></script>
  <!-- Feather icons -->
  <script type="text/javascript" src='/vendor-assets/feather-icons/feather.min.js'></script>
</head>
<body>

  <%- include('partials/top-navbar') %>
  <div class="container-fluid">
    <div class="row d-flex flex-md-row-reverse">
      <div class="col-lg-9 px-0 overflow-auto">
        <%- include('partials/editor') %>
      </div>
      <div class='col-lg-3 overflow-auto'>
        <%- include('partials/notelist') %>
      </div>
    </div>
  </div>
</body>
<!-- Local scripts -->
<script defer type="text/javascript" src='scripts/globals.js'></script>
<script defer type="text/javascript" src='scripts/getNotesList.js'></script>
<script defer type="text/javascript" src='scripts/editorFormHandler.js'></script>
<script>
  feather.replace();
</script>
</html>
