<form id='note-form'>
      <label for='title'>Title </label>
      <input
        type="text"
        name="title"
        id='title'
        minlength='2'
        maxlength='50'
        >
      <button id='save-button' type='submit'>Save</button>
      <button id='new-note-button' type='button'>New note</button>
    <div id="editor-container">
      <div id="quill-editor"></div>
    </div>
    <br>
  </form>
