<div class="d-flex py-3 px-2 flex-column align-items-center">
  <div id='notes-list-container'>
      <div id='notes-list'></div>
  </div>
  <button id='load-more-button' class='btn btn-outline-primary m-2'>
    Load more</button>
</div>
